.filter-btn {
  padding: 8px 15px;
  border: 1px solid #007bff;
  background: white;
  color: #007bff;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-btn:hover {
  background: #007bff;
  /* background: #71a7e1; */
  color: white;
}

.filter-btn.active {
  background: #007bff;
  color: white;
}
body{
    /* background-image: linear-gradient(to right, #ffcca4, #31ccff); */
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210714/pngtree-blur-creative-blog-background-image_741789.jpg");
    background-size: cover;

}

