

.btn.save {
  background: #28a745;
  color: white;
}
.btn-edit {
  margin-right: 10px;
  color: white;
  background-color: blue;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
      font-weight: bold;

}
.btn-delete{
    background: #dc3545;
    color: white;
    margin-right: 10px;
    font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.btn-edit:hover{
    background:rgb(22, 108, 248);
}
.btn-delete:hover {
  background: darkred;
}
.btn.cancel {
  background: #dc3545;
  color: white;
}

.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog-card:hover {
  transform: translateY(-5px);
  border: 2px solid #007bff;
  border: 2px solid #77afec;
}
@media (max-width: 992px) {
  .blogs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .blogs-grid {
    grid-template-columns: 1fr;
  }
}
.modal-overlay  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal ,.modal-profile {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  max-width: 90%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}
.modal-profile{
  height: 450px;
}
.modal.view {
    box-shadow: 0 1px 15px rgb(255, 229, 84);
    box-shadow: 0 1px 15px rgb(250, 209, 139);
    /* box-shadow: 0 1px 15px rgb(81, 190, 187); */

}
.modal-close {
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  background: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 2, 2);
  /* background-color: white; */
  border-radius: 50%;

}
.modal-image {
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #000000;
}
.modal input,
.modal textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.modal-actions button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.modal-actions button:nth-child(1) {
  background: gray;
  color: white;
}
.modal-actions button:nth-child(1):hover {
  background: darkgray;
  color: white;
}
.modal-actions button:nth-child(2) {
  background: green;
  color: white;
}
.modal-actions button:nth-child(2):hover {
  background: darkgreen;
  color: white;
}
.blog-card {
  background-image: linear-gradient(to right, #f9f4f0, #ffd19c, #e6c647);
}
/* body{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210714/pngtree-blur-creative-blog-background-image_741789.jpg");
} */